
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../components/header') %>
    <link rel="stylesheet" href="/css/stories.css">
    <title>Stories</title>
</head>
<body>
    <div class="stories-wrapper">
        <%- include('../components/navbar') %>
        <div class="container">
            <h2 class="text-center">All Stories</h2>
            <div class="row text-dark p-3">
                <div class="col-8">
                    <form class="form" method="GET" action="/istorya/stories">
                        <div class="searcher_box">
                            <input 
                                    type="search" 
                                    name="search_query"
                                    placeholder="Search by sender's name"
                                />
                            <button class="btn-search" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-4">
                    <select class="story_filters" name="filter_story">
                        <option value="*" selected>All</option>
                        <option value=".Quote">Quote</option>
                        <option value=".Relationship">Relationship</option>
                        <option value=".Financial">Financial</option>
                        <option value=".Realization">Realization</option>
                        <option value=".Self">Self</option>
                        <option value=".Career">Career</option>
                        <option value=".MusicArts">Music & Arts</option>
                        <option value=".School">School</option>
                        <option value=".Travel">Travel</option>
                        <option value=".AnimalNature">Animals & Nature</option>
                    </select>
                </div>
                <div class="col-12">
                    <div class="stories-container">
                        <%-include('../components/cards')%>
                    </div>
                </div>
                <div class="story-controls">
                    <% if (stories.length > 0 && prev){ %> 
                        <a 
                            id="prev"
                            data-page="<%=page%>"
                            class="text-primary">
                            <i class="fas fa-chevron-left mr-2"></i>
                            Previous
                        </a>
                    <% } %>
                    <% if (stories.length > 0 && next){ %>
                        <a 
                            id="next"
                            data-page="<%=page%>"
                            class="text-primary">
                            Next
                            <i class="fas fa-chevron-right ml-2"></i>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/js/stories.js"></script>
</html>
